{% extends "layout.html" %}

{% block title %}
    Change_password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input class="form-control" name="old_password" placeholder=" Old Password" type="password">
            <input class="form-control" name="new_password" placeholder=" New Password" type="password">
            <input class="form-control" name="confirm_new_password" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
